body {
  margin: 0;
  padding: 0;
  background-color: rgb(31, 88, 244);
}
.container {
    display: flex;
    width: 1148px;
    max-width: 80%;
    height: 100% !important;
    margin: 0 auto;
    position: relative !important;
    flex-direction: column;
    justify-content: center;
}
.navbar-top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.navbar-top > img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.navbar-top button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 0 solid transparent;
  box-shadow: 0px 0px 3px rgba(230, 230, 230, 0.5);
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  justify-content: space-between;
}
.navbar-top > button > span {
  position: relative;
}
.navbar-top > button > span > b {
  /* padding: 0px 10px 0px 10px; */
  /* background-color: rgb(177 177 177 / 50%); */
  backdrop-filter: blur(10px);
  /* width: 20px; */
  /* height: 20px; */
  border-radius: 50px;
  /* margin-top: -10px; */
  /* margin-left: 10px; */
  /* position: absolute; */
  z-index: 10;
  right: 29.5px;
  top: 12px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/backgrounds/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom center;
  background-origin: border-box;
}
.navbar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 100%;
}
.navbar-item i {
  font-size: 30px;
}
.icon {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}
.shop-bag {
  position: relative;
}
.shop-bag span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 93%);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  color: #000000;
}
.main {
  overflow: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: rgb(151 151 151 / 52%);
  backdrop-filter: blur(6px) saturate(123%);
  -webkit-backdrop-filter: blur(18px) saturate(137%);
  border-radius: 10px;
  /* position: absolute; */
  margin: 25px auto 0px;
  padding: 20px 0 20px 0;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.product-item-cover-image > form {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*padding: 10px;
   */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.product-item-cover-image button {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.5);
  backdrop-filter: blur(10px);
  font-size: 20px;
  width: 200px;
}
.product-item-cover-image button:hover {
  border: 1px solid red;
}
@media screen and (max-width: 1368px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .product-items {
    height: 100%;
    width: 95%;
    display: flex;
    max-width: 95%;
    margin: 0 auto;
    font-size: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
  }
  .main {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
.main::-webkit-scrollbar {
  width: 0;
}
.product-items {
  width: 95%;
  display: flex;
  max-width: 95%;
  margin: 0 auto;
  font-size: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.product-items > .product-item {
  animation: slideInLeft 2s 1;
  width: 250px;
  height: 250px;
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
}
.product-items > .product-item:nth-child(2n + 1) {
  animation: slideInRight 4s 1;
}
.product-items > .product-item:nth-child(4n + 1) {
  animation: slideInUp 4s 1;
}
.product-items > .product-item:nth-child(3n + 1) {
  animation: slideInDown 4s 1;
}
.product-items > .product-item:nth-child(5n + 1) {
  animation: slideInRight 4s 1;
}
.product-item-cover-image {
  border-bottom: 1px solid #e8e8e8;
}
.shop-item {
  display: flex !important;
  width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  background-color: rgba(218, 218, 218, 0.6);
  padding: 10px;
  border-radius: 10px;
  font-family: "Comic Sans MS", sans-serif;
  backdrop-filter: blur(15px);
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
.shop-item > button {
  display: flex;
  padding: 5px;
  border: 0;
  font-family: "Calibri", sans-serif;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.shop-item > input {
  width: 20px;
  background-color: transparent;
  border: 0 solid transparent;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: "Comic Sans MS", sans-serif;
}
.shop-item > button:active {
  color: #ffffff;
  background-color: rgba(110, 110, 110, 0.9);
  transition: 0.3s ease-in;
}
.product-item-cover {
  position: relative !important;
  display: flex !important;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}
.product-item-cover-info {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 230px;
  padding: 10px 10px 12px 10px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  /* margin: 10px 0 23px 0; */
  border-radius: 0 0 10px 10px;
}
.product-item-cover-info > h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shoes {
  width: 250px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.kill {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border: hidden;
  background-color: #84949e;
  border-radius: 10px 0px 10px 0px;
  -webkit-border-radius: 10px 0px 10px 0px;
  -moz-border-radius: 10px 0px 10px 0px;
  -ms-border-radius: 10px 0px 10px 0px;
  -o-border-radius: 10px 0px 10px 0px;
}
.text {
  font-size: 10px;
  width: 50%;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
