<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cart</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="app">
      <div class="cover-app">
        <section class="section-1">
          {% for item in items %}
          <form method="POST" action="">
            {% csrf_token %}
            <input
              type="hidden"
              name="product-id"
              value="{{item.product.id}}"
            />
            <input type="hidden" name="href" value="cart" />
            <div class="product-cover">
              <div class="image-cover">
                <img src="{{item.product.image.url}}" alt="" /><span
                  >{{item.product_count}}</span
                >
              </div>
              <div class="add-cover">
                <button name="type" value="add">+</button>
              </div>
              <div class="description-cover">
                <span>{{item.product.name}}</span
                ><span>{{item.product.price}} تومان </span>
              </div>
              <div class="remove-cover">
                <button name="type" value="remove">-</button>
              </div>
            </div>
          </form>
          {% endfor %}
        </section>
        <section class="section-2">
          <div class="mim">
            <i
              style="font-size: 40px; color: orange"
              class="bx bx-wink-smile"
            ></i>
            <h3>Enjoy our <span style="color: orange">price</span></h3>
          </div>
          <button class="line"></button>
          <div class="count">
            <h4>
              تعداد کل
              <span id="count">{{items|length}}</span>
            </h4>
            <h4>
              قیمت کل:
              <span id="total">{{price}} تومان</span>
            </h4>
          </div>
          <form method="POST" action="/">
            <input type="hidden" name="type" value="reset" />
            <button class="btn" type="submit">
              <p>Buy</p>
            </button>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
