<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cart</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="app">
      <div class="cover-app">
        <section class="section-1">
          <script>
            var Total = 0;
            for (var i = 0; i < localStorage.length; i++) {
              Total += Number(
                localStorage.getItem(localStorage.key(i)).substring(24, 27)
              );
              document.write(`
          <div class="product-cover">
            <div class="image-cover"><img src="/${localStorage
              .getItem(localStorage.key(i))
              .substring(0, 16)}" alt=""><span>10</span></div>
            <div class="add-cover"><button type="button" id="abc1v"
                onclick="document.getElementById('count').innerText++">+</button></div>
            <div class="description-cover"><span>${localStorage
              .getItem(localStorage.key(i))
              .substring(17, 22)}</span><span>$${localStorage
                .getItem(localStorage.key(i))
                .substring(24, 27)}</span></div>
            <div class="remove-cover"><button type="button" id="abc1v"
                onclick="document.getElementById('count').innerText--">-</button>
              </div>
          </div>`);
            }
          </script>
        </section>
        <section class="section-2">
          <div class="mim">
            <i
              style="font-size: 40px; color: orange"
              class="bx bx-wink-smile"
            ></i>
            <h3>Enjoy our <span style="color: orange">price</span></h3>
          </div>
          <button class="line"></button>
          <div class="count">
            <h4>
              count
              <span id="count"
                ><script>
                  document.write(`${localStorage.length}`);
                </script></span
              >
            </h4>
            <h4>
              total
              <span id="total"
                >$
                <script>
                  document.write(`${Total}`);
                </script></span
              >
            </h4>
          </div>
          <form method="post">
            <button class="btn" type="button" onclick="SubmitCartData()">
              <p>Buy</p>
            </button>
          </form>
        </section>
      </div>
    </main>
    <script src="{% static 'js/product.js' %}"></script>
    <script>
      function SubmitCartData() {
        if (localStorage.length > 0) {
          localStorage.clear();
          alert("محصول شما با موفقیت ثبت شد!");
        } else {
          alert("سبد خرید شما خالی است.");
        }
        document.location = "../";
      }
    </script>
  </body>
</html>
